:root{
    font-size: 62.5%;
}

.expense-item{
   display: flex;
   /* border: 1px solid black; */
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   background: #4b4b4b;
   margin: 1.5rem 0;
   padding: 0.9rem;
}
.expense-item__details{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    flex: 1;
    margin: 0 10px;
    gap: 1;
}

.expense-item__details>h2{
    font-size: 2rem;
    color: #fff;
}


.expense-item__price{
    align-self: center;
    font-size: 2.5rem;
    border: 1px solid #fff;
    background: #40004d;
    color: #fff;
    padding: 2rem 3rem;
    border-radius: 15px;
    font-weight: bold;
}